<article>
	<h2>New Person</h2>

	<form action="<%= c.people_create_path() %>">
		Name: <input type="text" name="name" required />
		<button type="submit" name="submit">Create</button>
	</form>
</article>
