<header>
	<div class="logo">
		MVC Example Site
	</div>
	<nav>
		<ul>
			<li>
				<a href="<%= c.people_path(); %>">People</a>
			</li>
		</ul>
	</nav>
</header>
<section id="<%= content_id %>">
</section>
